/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&sk {
        release-after-ms = <3000>;
        ignore-modifiers;
};

/ {
        chosen {
                zmk,matrix-transform = &five_column_transform;
        };

        behaviors {
                td_ctrl_cmd: td_ctrl_cmd {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <300>;
                        bindings = <&kp LCTRL>, <&kp LGUI>;
                };
                td_alpha_toggle: td_alpha_toggle {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <300>;
                        bindings = <&none>, <&tog 1>;
                };
        };

        combos {
                compatible = "zmk,combos";
                combo_enter {
                        timeout-ms = <50>;
                        key-positions = <16 17 18>; // J K L
                        bindings = <&kp RET>;
                };
                combo_esc {
                        timeout-ms = <50>;
                        key-positions = <11 12 13>; // S D F
                        bindings = <&kp ESC>;
                };
                combo_bt_clr {
                        timeout-ms = <50>;
                        key-positions = <20 21 22>; // BT0 + BT1 + BT2
                        layers = <3>; // Sym layer only
                        bindings = <&bt BT_CLR>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
//             | SYM | SFT | CTL |   | BSPC| SPC  | NUM |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P
   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
              &mo 3 &kp LSHFT &td_ctrl_cmd   &kp BSPC &kp SPACE &mo 2
                        >;
                };

                colemak_dh_layer {
                        display-name = "COLEDH";
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  '  |
// |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |
// |  X  |  C  |  D  |  V  |  Z  |   |  K  |  H   |  ,  |  .  |  /  |
//             | SYM | SFT | CTL |   | BSPC| SPC  | NUM |
                        bindings = <
   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI
   &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O
   &kp X &kp C &kp D &kp V &kp Z   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH
              &mo 3 &kp LSHFT &td_ctrl_cmd   &kp BSPC &kp SPACE &mo 2
                        >;
                };

                lower_layer {
                        display-name = "NUMNAV";
// -----------------------------------------------------------------------------------------
// |  /  |  7  |  8  |  9  |  -  |   | HME | PGD | PGU | END | DEL |
// |  *  |  4  |  5  |  6  |  +  |   | LFT | DWN |  UP | RGT | TAB |
// |  0  |  1  |  2  |  3  |  .  |   |     |     |     |     |     |
//             |     | SFT | CTL |   | BSPC| SPC |     |
                        bindings = <
   &kp FSLH  &kp N7 &kp N8 &kp N9 &kp MINUS   &kp HOME &kp PG_DN &kp PG_UP &kp END   &kp DEL
   &kp ASTRK &kp N4 &kp N5 &kp N6 &kp PLUS    &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp TAB
   &kp N0    &kp N1 &kp N2 &kp N3 &kp DOT     &trans   &trans    &trans    &trans    &trans
                            &trans &kp LSHFT &td_ctrl_cmd  &kp BSPC &kp SPACE &trans
                        >;
                };

                raise_layer {
                        display-name = "BT SYM";
// -----------------------------------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |  `  | BT0 | BT1 | BT2 |     |   |  -  |  =  |  [  |  ]  |  '  |
// | SFT | CTL | ALT | CMD | TOG |   |  _  |  +  |  {  |  }  |  \  |
//             |     | SFT | CTL |   | BSPC| SPC |     |
                        bindings = <
   &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT        &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR
   &sk LSHFT    &sk LCTRL    &sk LALT     &sk LGUI     &kp GRAVE        &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp SQT
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none        &td_alpha_toggle &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp BSLH
                             &trans       &kp LSHFT    &td_ctrl_cmd     &kp BSPC  &kp SPACE &trans
                        >;
                };
        };
};
